.login_component {
  display: flex;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.inputaddress {
  max-width: 190px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.inputaddress:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }
  
  75% {
    transform: translateX(5px);
  }
  
  100% {
    transform: translateX-(5px);
  }
}

.signInInvalid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height:50px;
  width: 200px;
  gap: 10px;
  font-size: 13px;
  color: red;
  justify-content: center;
  align-items: center;
}

.signInInvalid > p{
  display: flex;
  flex-direction: column;

}

.signbuttons {
  display: flex;
  flex-direction: column;
  height:50px;
  width: 200px;
  gap: 10px;
}

.signbuttons button {
  appearance: none;
  background-color: transparent;
  border: 3px solid #f7a701;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /* font-size: 16px; */
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  /* max-width: 0; */
  outline: none;
  padding: 0.5em 70px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 .signbuttons button:disabled {
  pointer-events: none;
 }
 
 .signbuttons button:hover {
  color: #fff;
  background-color: #f7a701;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 .signbuttons button:active {
  box-shadow: none;
  transform: translateY(0);
 }

.signinbutton {
  /* display: flex;
  flex-direction: row; */

}

.signupbutton {

}

